.layout-container {
    /* display: flex;
    flex-direction: column; */
    min-height: 100vh;
    max-width: 375px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.layout-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 375px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}


/* @media (min-width: 480px) {
    .layout-container, .layout-main, .layout-navbar {
        max-width: 100%;
    }
    .layout-main {
        padding: 8px;
    }
    .layout-navbar {
        position: fixed;
        top: 500px;
        z-index: 1000;
        height: max-content;
    }
} */